<!DOCTYPE html>
<html>
	<head>
		<title>Luz del Norte</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href="css/styles.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="bower_components/sweetalert2/dist/sweetalert2.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.1/material.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
		
	</head>
	<body style="background-color: #c3c3c3">
		<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
			<main class="mdl-layout__content">
			<div class="mdl-card mdl-shadow--6dp">
				<div class="mdl-card__title mdl-color--pink mdl-color-text--white">
					<h2 class="mdl-card__title-text "><strong>Luz del Norte</strong></h2>
				</div>
				<div class="mdl-card__supporting-text">
					
						<div class="mdl-textfield mdl-js-textfield">
							<input class="mdl-textfield__input" type="text" id="username" />
							<label class="mdl-textfield__label" for="username">Username</label>
						</div>
						<div class="mdl-textfield mdl-js-textfield">
							<input class="mdl-textfield__input" type="password" id="password" />
							<label class="mdl-textfield__label" for="userpass">Password</label>
						</div>
					
				</div>
				<div class="mdl-card__actions mdl-card--border">
					<button class="btn btn-lg btn-primary btn-block"  id="ingresar">Ingresar</button>
				</div>
			</div>
			</main>
		</div>
		
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/es6-promise/es6-promise.auto.min.js"></script>
		<script src="bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
		<script  type="text/javascript" src="js/login.js"></script>
		<script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.1/material.min.js"></script>
		
	</body>
</html>